
*{
    -fx-font-family: Ubuntu Serif;
}
.pane{
    -fx-background-color: #efa443;
}
.jfx-button {
    -fx-font-size: 20px;
    -fx-font-weight: bold;
    -fx-background-color: #00b2ff;
    -fx-text-fill: #ffffff;
    -fx-cursor: hand;
    -fx-background-radius: 10;
}
.shadow{
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.5), 8,0,0,0);
}
